@import '../../sass/variables';
@import '../../sass/functions';
@import '../../sass/typography';

.recipe-card {
  background: $colour-grey-white;
  border-radius: get-radius(.5);
  box-shadow: 0 0 0 0 fade-out($colour-grey-black, .9);
  box-shadow: none;
  color: $colour-grey-black;
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  justify-content: space-between;
  margin-bottom: get-y(2);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  transform: translateY(0);
  transition-duration: 100ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  
  &::before,
  &::after {
    content: none;
  }
  
  &:hover,
  &:focus {
    background: $colour-grey-white;
    color: inherit;
    outline: 0;
    transform: translateY(get-y(-0.25));
    z-index: initial;
  }

  &:focus {
    box-shadow: 0 0 0 get-y(.25) $colour-action-transp;  
  }

  &:active {
    box-shadow: 0 0 0 get-y(.5) $colour-action-light;
  }

  &__header {
    padding-bottom: get-y(.5);
    padding-left: get-x(1);
    padding-right: get-x(1);
    padding-top: 0;
  }

  &__title {
    @include make-h4(false);
  }

  &__body {
    @include make-p2();
    padding: 0 get-x(1) get-y(2);
  }

  &__footer {
    align-content: center;
    border-top: 1px solid $colour-grey-bg;
    padding-bottom: get-y(1);
    padding-top: get-y(.5);
  }

  &__date {
    @include make-p3(false, false);
    color: $colour-grey-3;
  }
}
