@import '../../sass/variables';
@import '../../sass/functions';
@import '../../sass/typography';

.recipe-difficulty {
  margin-top: get-y(.5);

  &__rating-text {
    @include make-p3(false, false);
    color: $colour-grey-3;
    padding-bottom: 0;
    padding-left: get-x(1);
    padding-right: get-x(1);
    padding-top: 0;
    text-align: right;
    vertical-align: middle;
  }
}
