@import '../../sass/variables';
@import '../../sass/functions';
@import '../../sass/typography';

.recipe-card {
  background: $colour-grey-white;
  border-radius: get-radius(.5);
  box-shadow: 0 0 0 0 fade-out($colour-grey-black, .9);
  cursor: pointer;
  justify-content: space-between;
  margin-bottom: get-y(2);
  overflow: hidden;
  position: relative;
  transition-duration: 100ms;
  transition-property: transform box-shadow;
  transition-timing-function: ease-out;

  a {
    box-shadow: none;
    color: $colour-grey-black;
    font-family: inherit;
    font-weight: inherit;

    &::before,
    &::after {
      content: none;
    }

    &:hover,
    &:focus {
      background: inherit;
      z-index: initial;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 get-y(.25) $colour-action-transp;
    outline: 0;
    transform: translateY(get-y(-0.25));
  }

  &:active {
    box-shadow: 0 0 0 get-y(.5) $colour-action-light;
  }

  &__header {
    padding: get-y(2) get-x(1) get-y(.5);
  }

  &__title {
    @include make-h4(false);
  }

  &__body {
    padding: 0 get-x(1) get-y(2);
  }

  &__footer {
    background: $colour-grey-white;
    padding-bottom: get-y();
  }

  &__date {
    color: $colour-grey-3;
  }
}
