@import './variables';

.l-flex {
  @media screen and (#{$bp-medium}) {
    align-items: stretch;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .l-flex-item--2up {
    @media screen and (#{$bp-medium}) {
      flex-basis: 50%;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  .l-flex-item--3up {
    @media screen and (#{$bp-medium}) {
      flex-basis: calc((1 / 3 * 100%) - 2rem);
      margin: 1rem;
    }
  }
}

.l-full-height {
  position: absolute;
  top: $header-height;
  bottom: 0;
}