@import './variables';

$breakpoints: (
  small: $bp-small,
  medium: $bp-medium,
  large: $bp-large,
  xlarge: $bp-xlarge,
);

$grid-margin-gutters: (
  small: $gutter-small,
  medium: $gutter-medium,
  large: $gutter-large,
  xlarge: $gutter-xlarge
);