
@import '../../node_modules/foundation-sites/scss/util/util';
@import './variables';
@import './fonts';

@mixin set-font-styles($size, $lineHeight: $size*1.2, $marginBottom: $lineHeight) {
  font-size: $size;
  line-height: $lineHeight;
  margin-bottom: $marginBottom;
}

@mixin make-h1() {
  @include get-font(heading, bold);
  @include set-font-styles(50px, 70px, 35px);

  @include breakpoint($bp-medium) {
    @include set-font-styles(85px, 105px, 71px);
  }

  @include breakpoint($bp-large) {
    @include set-font-styles(120px, 140px, 106px);
  }
}

@mixin make-h2() {
  @include get-font(heading, light);
  @include set-font-styles(40px, 53px, 35px);

  @include breakpoint($bp-medium) {
    @include set-font-styles(50px, 70px, 35px);
  }

  @include breakpoint($bp-large) {
    @include set-font-styles(85px, 105px, 71px);
  }
}

@mixin make-h3() {
  @include get-font(heading, bold);
  @include set-font-styles(25px, 35px);

  @include breakpoint($bp-medium) {
    @include set-font-styles(40px, 53px, 35px);
  }

  @include breakpoint($bp-large) {
    @include set-font-styles(50px, 70px, 35px);
  }
}

@mixin make-h4() {
  @include get-font(heading, light);
  @include set-font-styles(23px, 35px);

  @include breakpoint($bp-medium) {
    @include set-font-styles(28px, 35px);
  }

  @include breakpoint($bp-large) {
    @include set-font-styles(40px, 53px, 35px);
  }
}

@mixin make-h5() {
  @include get-font(heading, light);
  @include set-font-styles(20px, 35px);

  @include breakpoint($bp-medium) {
    @include set-font-styles(23px, 35px);
  }

  @include breakpoint($bp-large) {
    @include set-font-styles(28px, 35px);
  }
}

@mixin make-h6() {
  @include get-font(heading, bold);
  @include set-font-styles(17px, 35px);

  @include breakpoint($bp-medium) {
    @include set-font-styles(17px, 35px);
  }

  @include breakpoint($bp-large) {
    @include set-font-styles(20px, 35px);
  }
}

@mixin make-p1(){
  @include get-font(body, regular);
  @include set-font-styles(16px, 28px, 14px);

  @include breakpoint($bp-medium) {
    @include set-font-styles(18px, 28px, 21px);
  }

  @include breakpoint($bp-large) {
    @include set-font-styles(20px, 35px, 28px);
  }
}
@mixin make-p2(){
  @include get-font(body, regular);
  @include set-font-styles(12px, 21px);

  @include breakpoint($bp-medium) {
    @include set-font-styles(14px, 28px);
  }

  @include breakpoint($bp-large) {
    @include set-font-styles(16px, 28px);
  }
}
@mixin make-p3(){
  @include get-font(body, regular);
  @include set-font-styles(10px, 14px);

  @include breakpoint($bp-medium) {
    @include set-font-styles(12px, 21px);
  }

  @include breakpoint($bp-large) {
    @include set-font-styles(12px, 21px);
  }
}

.heading--h1 { @include make-h1(); }

.heading--h2 { @include make-h2(); }

.heading--h3 { @include make-h3(); }

.heading--h4 { @include make-h3(); }

.heading--h5 { @include make-h5(); }

.heading--h6 { @include make-h6(); }

.body--p1 { @include make-p1(); }

.body--p2 { @include make-p2(); }

.body--p3 { @include make-p3(); }