// stylelint-disable

//  COLOURS
// ================================

$colour-grey-black:     #04181e;
$colour-grey-1:         #344b52;
$colour-grey-2:         #627d85;
$colour-grey-3:         #9ab1b8;
$colour-grey-4:         #d1dbde;
$colour-grey-bg:        #e6eff2;
$colour-grey-white:     #f2f6f7;

$colour-action-dark:    #150f80;
$colour-action-base:    #3366e7;
$colour-action-light:   #9ecdff;
$colour-action-transp:  fade-out($colour-action-light, .75);
$colour-action-transp-opq: #cde7fa;

$colour-error-dark:    #821036;
$colour-error-base:    #e7336e;
$colour-error-light:   #fcb8d7;
$colour-error-transp:  fade-out($colour-error-light, .75);
$colour-error-transp-opq:  #f5e1ec;

$colour-success-dark:    #0a8f5c;
$colour-success-base:    #16db9a;
$colour-success-light:   #9aedc4;
$colour-success-transp:  fade-out($colour-success-light, .75);
$colour-success-transp-opq:  #d3f2e0;


$colour-rating-1:     $colour-success-base;
$colour-rating-2:     #badb16;
$colour-rating-3:     #edd311;
$colour-rating-4:     #f29435;
$colour-rating-5:     $colour-error-base;

// GUTTERS
// =================================

$gutter-small:    2.8rem;
$gutter-medium:   3.5rem;
$gutter-large:    4.2rem;
$gutter-xlarge:   4.8rem;

//  SPACING & LAYOUT
// =================================

$x-unit:          $gutter-small;
$y-unit:          $gutter-small / 2;

$gutter-outer-sm: $x-unit / 2;
$gutter-outer:    $x-unit;
$gutter-inner:    $x-unit;
$reading-width:   42rem;
$header-height:   (2 * $y-unit) + (1.4rem); // header padding + font size + link padding

//  BREAKPOINTS
// =================================
$bp-small:    0;
$bp-medium:   600px;
$bp-large:    1140px;
$bp-xlarge:   1440px;

//  ANIMATIONS
// =================================
$global-transition: 200ms ease;

// style-lint enable


// FONTS
// =================================

$fonts: (
  heading: (
    bold:       (
      font-family: 'QuicksandBold',
      font-weight: 700,
      font-style: normal,
    ),
    medium:     (
      font-family: 'QuicksandMedium',
      font-weight: 500,
      font-style: normal,
    ),
    regular:    (
      font-family: 'QuicksandRegular',
      font-weight: 400,
      font-style: normal,
    ),
    light:      (
      font-family: 'QuicksandLight',
      font-weight: 300,
      font-style: normal,
    ),
  ),
  body: (
    regular:    (
      font-family: 'LoraRegular',
      font-weight: 400,
      font-style: normal,
    ),
    bold:       (
      font-family: 'LoraBold',
      font-weight: 700,
      font-style: normal,
    ),
    italic:     (
      font-family: 'LoraItalic',
      font-weight: 400,
      font-style: italic,
    ),
    boldItalic: (
      font-family: 'LoraBoldItalic',
      font-weight: 700,
      font-style: italic,
    ),
  )
);