$font-stack: 	"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-alt-stack: "Open Sans";

$colour-black:      #0a100d;

$colour-grey:       #394648;

$colour-white:      #dce0d9;

$colour-primary:    #3c91e6;
$colour-secondary:  #832232;

$header-background: $colour-black;
$header-colour: $colour-white;
$body-background-colour: $colour-white;