$font-stack: 	"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-alt-stack: "Open Sans";

$red-color: red;
$orange-color: orange;
$yellow-color: yellow;
$green-color: green;
$blue-color: blue;
$indigo-color: indigo;
$violet-color: violet;