@import 'variables';

@import 'pages/home';
@import 'pages/users';
@import 'pages/logo';

.red { color: $red-color; }
.orange { color: $orange-color; }
.yellow { color: $yellow-color; }
.green { color: $green-color; }
.blue { color: $blue-color; }
.indigo { color: $indigo-color; }
.violet { color: $violet-color; }

.flex { display: flex; }