@import '../../sass/variables';
@import '../../sass/functions';

.tag-list {
  margin: 0;
  padding-left: get-x();
  padding-right: get-x();
  &,
  &__tag {
    display: inline-block;
    margin: 0;
  }

  &__tag {
    background: $colour-grey-bg;
    color: $colour-grey-2;
    font-size: 80%;
    margin-right: get-x(.25);
    padding: get-y(.125) get-x(.25);
  }
}