@import '../../sass/mixins';
@import '../../sass/variables';
@import '../../sass/functions';


.logo {
  @include get-font(heading, light);
  font-size: inherit;
  left: $gutter-outer;
  margin: 0 auto;
  position: absolute;
  top: 0;
  transition: 400ms ease all 100ms;

  a {
    background: transparent;
    box-shadow: none;
    color: $colour-grey-white;
    display: block;
    font-family: inherit;
    height: 100%;
    padding: 4.2rem;
    width: 100%;
    
    &::before,
    &::after {
      content: none;
    }
  }

  &__background {
    background: $colour-grey-black;
    transition-delay: 1s;
    transition-duration: .5s;
    transition-property: background;
    transition-timing-function: ease-out;
  }

  &__logotype {
    bottom: 1rem;
    left: 1rem;
    position: absolute;
    transition: $global-transition color;
  }

  .headroom--unpinned & {
    margin-top: -#{get-col-width(1.5)};
    position: static;
  }

  &:hover {
    .logo__background {
      background-color: $colour-action-base;
      color: $colour-grey-white;
      transition-delay: .2s;
    }

    .logo__logotype {
      color: $colour-grey-white;
    }
  }
}
