@import '../../sass/variables';
@import '../../sass/functions';

.logo {
  left: $gutter-outer;
  margin: 0 auto;
  position: absolute;
  top: 0;
  transition: 400ms ease all 100ms;

  a {
    &,
    &:hover,
    &:visited,
    &:focus {
      background: transparent;
      box-shadow: none;
      color: $colour-grey-white;
      display: block;
      font-family: 'Quicksand', sans-serif;
      font-size: 1.25rem;
      height: 100%;
      padding: 0.5rem;
      width: 100%;
    }
  }

  &__background {
    background: $colour-grey-black;
    height: get-col-width(1.5);
    transition: $global-transition background;
    width: get-col-width(1.5);
  }

  &__logotype {
    bottom: .5rem;
    position: absolute;
    transition: $global-transition color;
  }

  .headroom--unpinned & {
    margin-top: -#{get-col-width(1.5)};
    position: static;
  }

  &:hover {
    .logo__background {
      background-color: red;
      color: $colour-grey-white;
    }

    .logo__logotype {
      color: $colour-grey-white;
    }
  }
}
