@import '../../sass/mixins';
@import '../../sass/variables';
@import '../../sass/functions';

.navigation {
  text-align: right;

  .link {
    @include get-font(heading, medium);
    margin: 0;
    padding: $y-unit ($x-unit / 2);
    
    &::after {
      bottom: 0;
      margin-left: 50%;
      width: 0;
    }

    &:hover {
      &::after {
        margin-left: 5%;
        width: 90%;
      }
    }
  }
}
