@import '../sass/variables';
@import '../sass/functions';
@import '../../node_modules/foundation-sites/scss/foundation';
@import '../../node_modules/foundation-sites/scss/xy-grid/xy-grid';

@include foundation-xy-grid-classes;

body {
  background: $colour-grey-white;
}

.container {
  margin: 0 auto;
  padding-left: $gutter-outer-sm;
  padding-right: $gutter-outer-sm;

  &--reading-width {
    max-width: $reading-width;
  }
}

a {
  box-shadow: 0 1px currentColor;
  color: $colour-secondary;
  transition-duration: 200ms;
  transition-property: color box-shadow;
  transition-timing-function: ease-in;

  &:hover,
  &:focus {
    background: fade-out($colour-secondary-lighter, .75);
    box-shadow: 0 2px currentColor;
    outline: none;
  }
}
