@import '../sass/variables';
@import '../sass/_functions';

body {
  background: $colour-white;
}

.container {
  margin: 0 auto;
  padding-left: $gutter-outer-sm;
  padding-right: $gutter-outer-sm;

  &--reading-width {
    max-width: $reading-width;
  }
}

a {
  color: $colour-secondary;
  box-shadow: 0 1px currentColor;
  transition: 200ms ease all;

  &:hover,
  &:focus {
    background: fade-out($colour-secondary-lighter, .75);
    box-shadow: 0 2px currentColor;
    outline: none;
  }
}
