@import '../../sass/variables';
@import '../../sass/functions';

@import '../../../node_modules/foundation-sites/scss/util/util';

.header {
  background: $colour-grey-white;
  border-top: 4px solid red;
  padding: 0 $gutter-outer-sm;

  @include breakpoint($bp-medium) {
    padding: 0 $gutter-outer;
  }
}
