@import '../../sass/variables';
@import '../../sass/functions';

.header {
  background: $colour-real-white;
  border-top: 4px solid $colour-primary;
  padding: 0 $gutter-outer-sm;

  @media screen and (#{$bp-small}) {
    padding: 0 $gutter-outer;
  }

  a {
    font-family: 'Domine', serif;
    font-size: 0.8rem;
    box-shadow: none;
    color: $colour-grey-light;
    display: inline-block;
    padding: $y-unit $x-unit/2;
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 1px 2px fade-out($colour-black, .75);
      color: $colour-secondary;
      transform: translateY(-1px);
    }
  }
}