@import '../../sass/variables';
@import '../../sass/functions';

.header {
  background: $colour-real-white;
  border-top: 4px solid $colour-primary;
  padding: 0 $gutter-outer-sm;

  @media screen and (#{$bp-small}) {
    padding: 0 $gutter-outer;
  }
}
