@import '../../../node_modules/foundation-sites/scss/util/util';

@import '../../sass/variables';
@import '../../sass/functions';

.intro-box {
  align-content: center;
  align-items: center;
  background: $colour-grey-black;
  color: $colour-grey-white;
  display: flex;
  min-height: 50vh;

  @include breakpoint($bp-large) {
    min-height: 100%;
  }
}